:root{
  --mainBlue: #2a2a72;
  --lightBlue:#009ffd;
  --mainWhite: #f3f3f3;
  --mainDark:#232528;
  --mainYellow:#ffa400;
}

body{

font-family: 'Open Sans', sans-serif  !important;
color: var(--mainDark) !important;
}

.text-title{
font-family: 'Georgia', serif !important;
font-size: 30px;
text-transform: uppercase;
border-bottom: 1px solid rgba(0,0,0,0.1);
margin-left: -10% !important;
color:rgb(53, 173, 169);
}

.text-blue{
  color: var(--mainBlue);
}

.text-bright{
  color: var(--lightBlue);
}

.btn-black{
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border:0.01rem solid var(--mainDark) !important;

}

.btn-black:hover{
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;

}

.cart-icon{
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow) !important;;
}